body {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 18px;
	margin: 0;
	top: 0;
	left: 0;
}

h1, h2, h3, p {
	font-weight: 400;
}

h3 {
	font-size: 2em;
}

nav {
	height: 50px;
	background: rgb(0,28,36);
	padding: 10px;
	align-items: center;
	border-bottom: 1px solid white;
}

nav img{
	margin-top: -15px;
	height: 80px;
	width: auto;
}

nav button {
	float: right;
	border: none;
	padding: 10px;
	background: transparent;
	cursor: pointer;
	font-weight: 300;
	font-size: 0.8em;
	color: white;
}

.banner {
	margin: auto;
	align-items: center;
	height: 25%;
	background: rgb(0,28,36);
	background: linear-gradient(180deg, rgba(0,28,36,1) 0%, rgba(9,92,121,1) 49%, rgba(0,212,255,1) 100%);
	padding: 10px;
	color: white;
	box-shadow: 0 8px 6px -6px black;
}

.banner h1 {
	padding-top: 100px;
	padding-left: 50px;
}

.banner h3 {
	font-size: 0.8em;
	padding-bottom: 100px;
	padding-left: 50px;
}

.main h3 {
	text-align: center;
	padding: 40px 0 20px 0;
}

.top-sec {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 15%;
}

.pot-images {
	width: 30%;
	text-align: center;
}

.pot-images img {
	width: 90%;
	box-shadow: 0 8px 6px -6px black;

}

.low-sec p, img {
	width: 45%;


}

.chef, .angry, .man {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 80%;
	align-items: center;
	margin: auto;
}

.footer {
	background: #000;
	color: #FFF;
	text-align: center;
	padding: 10px 0;
}

@media only screen and (max-width: 800px) {
	.top-sec {
	justify-content: center;
	padding: 0 15%;
	}
	
	.top-sec, .pot-images {
		width: auto;
	}

	.chef, .angry, .man {
		display: flex;
		flex-wrap: wrap;
		width: auto;
	}

	.angry {
		flex-wrap: wrap-reverse;
	}
	
	.low-sec p, img {
		width: 80%;
		padding: 0 10%;
	}

	.pot-images img{
		box-shadow: none;

	}

	nav img {
		padding: 0;
	}

	h3 {
		font-size: 1.6em;
		text-align: center;
	}

	p {
		font-size: 0.9em;
	}
}